.card-group{
  display: flex;
  flex-direction: row;
  text-align: center;
}
@media (max-width: 720px) {
  .card-group{
    display: flex;
    flex-direction: column;
  }
}

.card{
  flex-wrap: wrap;
  margin: 0 20px;
  width: 250px;
}

.card-img-top{
  width: 100%;
  height: 40%;
}

.card-img-top:hover{
  height: 50%;
}
