.container{

   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   text-align: center;
}
.card{
  margin: 5px;
  width: 240px;
  height: 400px;
}
.card:hover{
  margin: 10px;
}
.card:hover{
  width: 280px;
  height: 420px;
}

img{
  height: 50%;
}
