<div class="card-group">
  <div class="card">
    <img src="../../assets/contato.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Sobre</h5>
      <p class="card-text">Quem somos.</p>
    </div>
  </div>


<div class="card">
    <img src="../../assets/contato.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Repositórios</h5>
      <p class="card-text">Visite meus projetos</p>
    </div>
  </div>

  <div class="card">
    <img src="../../assets/contato.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Postagens</h5>
      <p class="card-text">Visualize as postagens que realizei nas redes.</p>
    </div>
  </div>

  <div class="card">
    <img src="../../assets/contato.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Contato</h5>
      <p class="card-text">Entre em contato conosco.</p>
    </div>
  </div>


</div>


